/* center using margin */

/* body{
    margin: 300px 200px 100px 700px;
}

div{
    background-color: aqua;
    width: 120px;
    height: 120px;
    border: 2px solid black;
    border-radius: 10px;
} */

/* center using position */
/* body{
    background-color: black;
}
.container{
    background-color: orange;
    position: relative;
    width: 150px;
    height: 150px;
    border: 2px solid green;
    border-radius: 5px;
    top: 270px;
    left: 650px;
}
.container:hover{
    background-color: blue;
    border-radius: 30px;
} */

/* center an item using flex */
/* .container{
    background-color: blue;
    width: 100px;
    height: 100px;
    border: 2px solid red;
    border-radius: 10px;
}
body{
    padding-top: 300px;
    display: flex;
    justify-content: center;
    text-align: center;
} */

/* CENTER USING GRID */
/* .container{
    display: grid;
    justify-content: center;
    padding-top: 220px;
}
img{
    width: 200px;
    height: 200px;
    border-radius: 30px;

} */
/* center using transform */
.container{
    height:120px;
    width: 150px;
    background-color: blue;
    transform: translate(700px, 280px);
    border-radius: 10px;
}


